:root {
  font-family: sans-serif;
}

body {
  background: rgba(0,0,0,0.05);
}

ul {
  padding-inline-start: 0px;
}

.form-container {
  width: 800px;
  text-align: left;
}

.form-input-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 15px;
  margin-bottom: 5px;
  min-height: 22px;
}

.form-input-label {
  text-align: right;
  grid-column: 1 / span 1;
}

.form-custom-input {
  display: flex;
}

.form-input-button {
  margin-left: 10px;
}

button {
  /* remove button styling */
  background-color: transparent;
  border: none;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; 

  /* add own styling */
  background: rgba(0,0,0,0.2);
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: 0.0625rem solid rgba(0,0,0,0.2);
}

button:hover {
  /* add own styling */
  background: rgba(0,0,0,0.3);
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 8px;
}